* text=auto

*.md text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.yaml text working-tree-encoding=UTF-8
*.java text working-tree-encoding=UTF-8
*.gradle text working-tree-encoding=UTF-8
